/* Default Colors */
$black: #1f1f1f;
$white: #ebebeb;
$dark-grey: #474747;
$light-grey: #bebebe;

/* Theme Colors https://coolors.co/071e22-1d7874-679289-f4c095-ee2e31 */
$rich-black: #071e22ff;
$skobeloff: #1d7874ff;
$viridian: #679289ff;
$peach: #f4c095ff;
$red-cmyk: #ee2e31ff;

/* Translucent */
$high-opacity-white: rgba(235, 235, 235, 0.9);
$low-opacity-white: rgba(235, 235, 235, 0.3);
$high-opacity-dark-grey: rgba(71, 71, 71, 0.9);
$low-opacity-dark-grey: rgba(71, 71, 71, 0.3);
$high-opacity-light-grey: rgba(190, 190, 190, 0.9);
$low-opacity-light-grey: rgba(190, 190, 190, 0.3);
$high-opacity-viridian: rgba(103, 146, 137, 0.9);
$low-opacity-viridian: rgba(103, 146, 137, 0.3);
$high-opacity-peach: rgba(244, 192, 149, 0.9);
$low-opacity-peach: rgba(244, 192, 149, 0.3);
