@use 'colors';

.twc-window {
  background: colors.$white;
  border: 3px double colors.$rich-black;
  border-radius: 3px;
  overflow: hidden;
}

.twc-title-bar {
  background-color: colors.$rich-black;
  color: colors.$white;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  font-weight: 500;
}

nav.twc-window-toolbar {
  color: colors.$rich-black;
  display: flex;
  flex-direction: column;
  margin: 0 3px;
  user-select: none;
  overflow: hidden;
  > * {
    border-bottom: 3px double colors.$rich-black;
    &:not(:first-child) {
      border-top: 3px double colors.$rich-black;
    }
    &:last-child {
      box-shadow: 0 -3px 3px -3px colors.$rich-black inset;
      -webkit-box-shadow: 0 -3px 3px -3px colors.$rich-black inset;
      -moz-box-shadow: 0 -3px 3px -3px colors.$rich-black inset;
    }
  }

  > .title-bar-title {
    margin: 0;
    min-width: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    user-select: none;
  }
  > ul.twc-window-menu {
    margin: 0;
    padding-left: 0;
    display: flex;
    list-style-type: none;
  }
  > ul > li {
    padding: 0 7px;
    line-height: 24px;
    &:hover {
      background-color: colors.$rich-black;
      color: colors.$white;
    }
  }
}

.twc-window-body {
  overflow: auto;
  margin: 0 3px;
  flex-grow: 1;
}

.twc-status-bar {
  overflow: hidden;
  display: flex;
  > p {
    margin: 0;
    padding: 3px;
    flex-grow: 1;
    border-top: 3px double colors.$rich-black;
    &:not(:last-child) {
      border-right: 3px double colors.$rich-black;
    }
  }
}

div.context-menu {
  padding: 2px;
  border: 1px solid colors.$rich-black;
  background-color: white;
  // box-shadow: 5px 5px 2px -3px rgba(0, 0, 0, 0.6);
  // -webkit-box-shadow: 5px 5px 2px -3px rgba(0, 0, 0, 0.6);
  // -moz-box-shadow: 5px 5px 2px -3px rgba(0, 0, 0, 0.6);
  min-width: 100px;
  user-select: none;

  hr {
    margin: 4px 2px;
    border-color: colors.$rich-black;
    border-style: solid;
    border-bottom: 0;
  }

  > ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style-type: none;
  }
  > ul > li {
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: colors.$rich-black;
      color: white;
    }
    > span.context-menu__item-icon {
      width: 17px;
    }
    > span.context-menu__item-label {
      flex-grow: 1;
      margin-right: 15px;
    }
    > span.context-menu__item-suffix {
      text-align: end;
      margin-right: 15px;
    }
  }
}
