$menu-lightgrey: rgba(255, 255, 255, 0.75);
$menu-darkgrey: rgba(208, 206, 191, 0.75);
$menu-darkestgrey: #b1ac9d;
$menu-highlight-color: #285fbf;

$border-top: 1px solid $menu-lightgrey;
$border-bottom: 1px solid $menu-darkgrey;
$border-left: 1px solid $menu-lightgrey;
$border-right: 1px solid $menu-darkgrey;

nav.window-toolbar {
  display: flex;
  flex-direction: column;
  margin: 0 3px;
  user-select: none;
  overflow: hidden;
  > * {
    border-bottom: $border-bottom;
    &:not(:first-child) {
      border-top: $border-top;
    }
    &:last-child {
      box-shadow: 0 -3px 3px -3px $menu-darkgrey inset;
      -webkit-box-shadow: 0 -3px 3px -3px $menu-darkgrey inset;
      -moz-box-shadow: 0 -3px 3px -3px $menu-darkgrey inset;
    }
  }
  > ul.window-menu {
    margin: 0;
    padding-left: 0;
    display: flex;
    list-style-type: none;
  }
  > ul > li {
    padding: 0 7px;
    line-height: 24px;
    &:hover {
      background-color: #285fbf;
      color: white;
    }
  }
}

div.context-menu {
  padding: 2px;
  border: 1px solid $menu-darkestgrey;
  background-color: white;
  box-shadow: 5px 5px 2px -3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 5px 5px 2px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 2px -3px rgba(0, 0, 0, 0.6);
  min-width: 100px;
  user-select: none;

  hr {
    margin: 4px 2px;
    border-color: $menu-darkestgrey;
    border-style: solid;
    border-bottom: 0;
  }

  > ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style-type: none;
  }
  > ul > li {
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: #285fbf;
      color: white;
    }
    > span.context-menu__item-icon {
      width: 17px;
    }
    > span.context-menu__item-label {
      flex-grow: 1;
      margin-right: 15px;
    }
    > span.context-menu__item-suffix {
      text-align: end;
      margin-right: 15px;
    }
  }
}
