@use 'variables';
@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  height: 100svh;
  width: 100svw;
}

#app {
  height: 100%;
  width: 100%;
  background: rgb(240, 240, 240);
  background: linear-gradient(
    173deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(235, 235, 235, 1) 65%,
    rgba(203, 203, 203, 1) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'Assistant', Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: colors.$black;
}
