@use 'media-query';
@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  height: 100svh;
  width: 100svw;
}

#app {
  height: 100%;
  width: 100%;
  background: rgb(240, 240, 240);
  background: linear-gradient(
    173deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(235, 235, 235, 1) 65%,
    rgba(203, 203, 203, 1) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'Assistant', Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: colors.$black;

  .hfs-input-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.3em;

    .hfs-input-group__error-message {
      margin: 0;
      font-size: 0.8em;
      color: colors.$red-cmyk;
    }

    .hfs-input-group__input {
      border-radius: 5px;
      padding: 0.5em 0.3em;
      border: 1px solid colors.$light-grey;
      transition: box-shadow 0.2s;
      background-color: white;

      &:focus:not(:disabled):not(.hfs-input-group_has-error) {
        outline: none;
        box-shadow: 0px 0px 5px 1px colors.$high-opacity-viridian;
        -webkit-box-shadow: 0px 0px 5px 1px colors.$high-opacity-viridian;
        -moz-box-shadow: 0px 0px 5px 1px colors.$high-opacity-viridian;
      }
    }

    .hfs-input-group_has-error {
      box-shadow: 0px 0px 5px 1px colors.$high-opacity-red-cmyk;
      -webkit-box-shadow: 0px 0px 5px 1px colors.$high-opacity-red-cmyk;
      -moz-box-shadow: 0px 0px 5px 1px colors.$high-opacity-red-cmyk;
    }
  }
}
